# 09 Independent Lab
Author: Mark Lannen  
Course: BGEN632 Grad. Intro. to Python  
Term: Spring 2025

## import pandas and os, set working directory and assign 'data' variable to specified data file

In [2]:
# load modules
import os
import pandas as pd
import statsmodels.formula.api as smf # ols regression

os.getcwd()
os.chdir('/Users/markl1/Documents/Studies/Grad_School-MBA/Spring_2025/Python/week9labs/data')

# print(df.shape)
# print(df.head())

df = pd.read_csv('ect_data.txt', sep='\t')
df

,attitude1_01,attitude1_02,attitude1_03,attitude1_04,intent1_01,intent1_02,intent1_03,intent1_04,peruse01,peruse02,peruse03,peruse04,satis01,satis02,satis03,satis04
0,6,6,6,6,6,6,6,6,6,4,5,5,5,5,5,5
1,7,7,7,7,7,7,7,7,7,7,7,7,7,6,6,6
2,6,6,6,6,7,7,7,7,6,5,5,5,5,5,5,5
3,7,7,7,7,6,6,7,6,5,5,5,5,7,6,7,6
4,7,7,6,6,7,7,7,6,6,6,7,7,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,6,6,6,7,7,6,7,6,6,5,5,5,6,6,6,5
197,5,6,6,6,7,7,7,7,7,7,6,6,6,4,4,6
198,6,5,6,6,5,6,6,5,6,5,6,5,5,5,6,5
199,6,6,6,6,6,7,6,6,6,6,7,7,5,5,6,5
200,7,7,6,7,7,7,7,7,7,7,7,7,7,7,7,7

## Create variables to hold excluded specified columns, non-numerical columns and use those to create a variable for columns that will be used.

In [3]:
excluded_cols = ['intent1_02', 'intent1_03','intent1_04']

numerical_cols = df.select_dtypes(include='number')

cols_to_use = numerical_cols.drop(columns=excluded_cols)
cols_to_use

,attitude1_01,attitude1_02,attitude1_03,attitude1_04,intent1_01,peruse01,peruse02,peruse03,peruse04,satis01,satis02,satis03,satis04
0,6,6,6,6,6,6,4,5,5,5,5,5,5
1,7,7,7,7,7,7,7,7,7,7,6,6,6
2,6,6,6,6,7,6,5,5,5,5,5,5,5
3,7,7,7,7,6,5,5,5,5,7,6,7,6
4,7,7,6,6,7,6,6,7,7,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,6,6,6,7,7,6,5,5,5,6,6,6,5
197,5,6,6,6,7,7,7,6,6,6,4,4,6
198,6,5,6,6,5,6,5,6,5,5,5,6,5
199,6,6,6,6,6,6,6,7,7,5,5,6,5
200,7,7,6,7,7,7,7,7,7,7,7,7,7

## Create target and independent variables

In [4]:
target_variable = 'intent1_01'
independent_variables = ['attitude1_04', 'peruse03', 'peruse01', 'satis02', 'satis01']

## Create regression model using statsmodels

In [5]:
import statsmodels.formula.api as smf

model = smf.ols(formula='intent1_01 ~ attitude1_04 + peruse03 + peruse01 + satis02 + satis01', data=cols_to_use)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             intent1_01   R-squared:                       0.481
Model:                            OLS   Adj. R-squared:                  0.467
Method:                 Least Squares   F-statistic:                     36.12
Date:                Fri, 02 May 2025   Prob (F-statistic):           4.40e-26
Time:                        14:06:51   Log-Likelihood:                -222.79
No. Observations:                 201   AIC:                             457.6
Df Residuals:                     195   BIC:                             477.4
Df Model:                           5
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        1.5116      0.365      4.138      0.000       0.791       2.232
attitude1_04     0.1555      0.067      2.326      0.021       0.024       0.287
peruse03         0.1597      0.076      2.101      0.037       0.010       0.310
peruse01         0.2404      0.075      3.193      0.002       0.092       0.389
satis02          0.0691      0.094      0.733      0.464      -0.117       0.255
satis01          0.1860      0.100      1.866      0.064      -0.011       0.383
==============================================================================
Omnibus:                       46.340   Durbin-Watson:                   2.039
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              182.369
Skew:                          -0.832   Prob(JB):                     2.51e-40
Kurtosis:                       7.360   Cond. No.                         91.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.