# 09 Independent Lab
Author: Mark Lannen  
Course: BGEN632 Grad. Intro. to Python  
Term: Spring 2025

## import pandas and os, set working directory and assign 'data' variable to specified data file

In [5]:
# load modules
import os
import pandas as pd
import statsmodels.formula.api as smf # ols regression

os.getcwd()
os.chdir('/Users/markl1/Documents/Studies/Grad_School-MBA/Spring_2025/Python/week9labs/data')

# print(df.shape)
# print(df.head())

df = pd.read_csv('ect_data.txt', sep='\t', quotechar='"')
df

,attitude1_01,attitude1_02,attitude1_03,attitude1_04,intent1_01,intent1_02,intent1_03,intent1_04,peruse01,peruse02,peruse03,peruse04,satis01,satis02,satis03,satis04
0,6,6,6,6,6,6,6,6,6,4,5,5,5,5,5,5
1,7,7,7,7,7,7,7,7,7,7,7,7,7,6,6,6
2,6,6,6,6,7,7,7,7,6,5,5,5,5,5,5,5
3,7,7,7,7,6,6,7,6,5,5,5,5,7,6,7,6
4,7,7,6,6,7,7,7,6,6,6,7,7,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,6,6,6,7,7,6,7,6,6,5,5,5,6,6,6,5
197,5,6,6,6,7,7,7,7,7,7,6,6,6,4,4,6
198,6,5,6,6,5,6,6,5,6,5,6,5,5,5,6,5
199,6,6,6,6,6,7,6,6,6,6,7,7,5,5,6,5
200,7,7,6,7,7,7,7,7,7,7,7,7,7,7,7,7

## Create variables to hold excluded specified columns, non-numerical columns and use those to create a variable for columns that will be used.

In [9]:
excluded_cols = ['intent1_02', 'intent1_03','intent1_04']

numerical_cols = df.select_dtypes(include='number')

cols_to_use = numerical_cols.drop(columns=excluded_cols)
cols_to_use

,attitude1_01,attitude1_02,attitude1_03,attitude1_04,intent1_01,peruse01,peruse02,peruse03,peruse04,satis01,satis02,satis03,satis04
0,6,6,6,6,6,6,4,5,5,5,5,5,5
1,7,7,7,7,7,7,7,7,7,7,6,6,6
2,6,6,6,6,7,6,5,5,5,5,5,5,5
3,7,7,7,7,6,5,5,5,5,7,6,7,6
4,7,7,6,6,7,6,6,7,7,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,6,6,6,7,7,6,5,5,5,6,6,6,5
197,5,6,6,6,7,7,7,6,6,6,4,4,6
198,6,5,6,6,5,6,5,6,5,5,5,6,5
199,6,6,6,6,6,6,6,7,7,5,5,6,5
200,7,7,6,7,7,7,7,7,7,7,7,7,7